.getForecast {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#b32929), to(#65a9d7));
   background: -webkit-linear-gradient(top, #b32929, #65a9d7);
   background: -moz-linear-gradient(top, #b32929, #65a9d7);
   background: -ms-linear-gradient(top, #b32929, #65a9d7);
   background: -o-linear-gradient(top, #b32929, #65a9d7);
   padding: 9.5px 19px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #402a2a;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.getForecast:hover {
   border-top-color: #a0afba;
   background: #a0afba;
   color: #a81848;
   }
.getForecast:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


